:root {
	// ==================================================
	--default-placeholder-color: transparent;
	// ==================================================
	--black: #000;
	--white: #fff;
	--gray: gray;
	// ==================================================
	// Container values
	--min-width: 320px;
	--max-width: 1200px;
	--con-padding: 0 15px;
	// ==================================================
	//body
	--body-font-family: "Roboto", sans-serif;
	--body-font-size: 16px;
	--body-line-height: 20px;
	--body-color: #000000;
	--body-background-color: #ffffff;
	// ==================================================
}
$fontFamily: "Inter";
$fontSize: rem(20); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: var(--neutrals-700); // Колір шрифту за замовчуванням
// ==================================================
// Мінімальна ширина сторінки
$minWidth: 375;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
// ==================================================
// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;
